*
    margin: 0
    padding: 0
    border: 0
    font: inherit
    font-size: 100%
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    line-height: 1
    vertical-align: baseline
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section
    display: block
body
    line-height: 1
ol, ul
    list-style: none
blockquote, q
    quotes: none
blockquote:before, blockquote:after,
q:before, q:after
    content: ''
    content: none
table
    border-collapse: collapse
    border-spacing: 0
